<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>
        
        {% load static %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="">Newspaper</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/news/">Home
                                <span class="sr-only">(главная)</span>
                            </a>
                        </li>
                        {% if request.user.username %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">log out</a>
                        </li>
                        {% endif %}
                        {% if not request.user.username %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">log in(signup)</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="">{{ request.user.username }}</a>
                        </li>
                        {% endif %}
                        {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
                        {% if perms.news.add_post %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'news:news_create' %}">Добавить новость</a>
                        </li>
                        {% endif %}
                        {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
                        {% if perms.news.add_post %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'news:articles_create' %}">Добавить статью</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'news:search' %}">Поиск</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'subscriptions' %}">Подписки</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
         </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}
                    <!-- {{ flatpage.content }} -->
                    {% endblock content %}
                </div>
            </div>
         </div>
    </body>